//WorkSans

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Thin"), local("WorkSans-Thin"),
    url("../../public/assests/fonts/WorkSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Thin Italic"), local("WorkSans-ThinItalic"),
    url("../../public/assests/fonts/WorkSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Extra Light"), local("WorkSans-ExtraLight"),
    url("../../public/assests/fonts/WorkSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Extra Light Italic"), local("WorkSans-ExtraLightItalic"),
    url("../../public/assests/fonts/WorkSans-ExtraLightItalic.ttf")
      format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Light"), local("WorkSans-Light"),
    url("../../public/assests/fonts/WorkSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Light Italic"), local("WorkSans-LightItalic"),
    url("../../public/assests/fonts/WorkSans-LightItalic.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Regular"), local("WorkSans-Regular"),
    url("../../public/assests/fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Italic"), local("WorkSans-Italic"),
    url("../../public/assests/fonts/WorkSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Medium"), local("WorkSans-Medium"),
    url("../../public/assests/fonts/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Medium Italic"), local("WorkSans-MediumItalic"),
    url("../../public/assests/fonts/WorkSans-MediumItalic.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Semi Bold"), local("WorkSans-SemiBold"),
    url("../../public/assests/fonts/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Semi Bold Italic"), local("WorkSans-SemiBoldItalic"),
    url("../../public/assests/fonts/WorkSans-SemiBoldItalic.ttf")
      format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Bold Italic"), local("WorkSans-Bold"),
    url("../../public/assests/fonts/WorkSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Bold Italic"), local("WorkSans-BoldItalic"),
    url("../../public/assests/fonts/WorkSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Extra Bold"), local("WorkSans-ExtraBold"),
    url("../../public/assests/fonts/WorkSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Extra Bold Italic"), local("WorkSans-ExtraBoldItalic"),
    url("../../public/assests/fonts/WorkSans-ExtraBoldItalic.ttf")
      format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Black"), local("WorkSans-Black"),
    url("../../public/assests/fonts/WorkSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans Black Italic"), local("WorkSans-BlackItalic"),
    url("../../public/assests/fonts/WorkSans-BlackItalic.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
}
